
.floatright {
  float: right;
}
.floatleft {
  float: left;
}
.clearboth {
  clear: both;
}
.textright {
  text-align: right;
}
/**/
a {
  color: #0062BB;
}
a:hover {
  color: #00338B;
}
#footer div.edit a {
  color: black;
}


#site-name {
  margin: 10px 20px 20px;
  float:left;
}
h1.site-name a{
  font-size: 2.2em;
  color: black;
  text-decoration: none;
  font-style: italic;
}
#logo {
  float: left;
}
#site-slogan {
  padding-top: 3.7em;
}


/**
	* Primary Links Style
	* Example styles to get you started.
	*/
#primary {
	 padding: 0;
   font-weight: bold;
}

.primary-inner {}

/* Modify the margin to positing the menu. */
#primary ul.links {
	 margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#primary ul.links li {
		display: inline;
    float: left;
		list-style: none;
		line-height: 3;
		padding: 0;
		margin: 0 2px;
}
#primary ul.links li a {
		background: url(../images/primarynav.png) repeat-x left bottom;
    display: block;
    float: left;
    color: #444;
    height: 40px;
    padding: 0 10px;
    text-decoration: none;
		white-space: nowrap;
}
#primary ul.links li a:hover  {
  background: url(../images/primarynav.png) repeat-x left top;
  color: #000000;
}
#primary ul.links li a.active,
#primary ul.links li a.active-trail {
  background: url(../images/primarynav.png) repeat-x -40px;
  color: #00628B;
}
/* Set unique active-trail styles */
/*#primary ul.links li a.active-trail {}*/


/**
	* Secondary Links Style
	*/
#secondary {
	 padding: 0;
	 font-weight: bold;
}

.secondary-inner {}

/* Modify the margin to positing the menu. */
#secondary ul.links {
 	margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#secondary ul.links li {
		display: inline;
		list-style: none;
		line-height: 3;
		padding: 0;
		margin: 0 .5em;
}

#secondary ul.links li a {
		text-decoration: none;
		white-space: nowrap;
    color: #ffffff;
    font-size: 10px;
}

#secondary ul.links li a:hover,
#secondary ul.links li a.active,
#secondary ul.links li a.active-trail {
  text-decoration:underline;
}

#links-footer ul {
 	margin: 0; /* RTL */
}

#links-footer ul li {
		display: inline;
		list-style: none;
		line-height: 3;
		padding: 0;
		margin: 0 1em;
}

#links-footer ul li a {
		text-decoration: none;
		white-space: nowrap;
}

/* --------------------------- */
/* Block Menus and Lists*/
.block-content ul {
  margin: 0px;
  padding: 0px;
}
.block-content .item-list ul li,
.block-content ul.menu li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}
.block-content .item-list .field-content li {
  display: block;
  text-decoration: none;
}
.block-content .item-list ul li a,
.block-content ul.menu li a{
  text-decoration:none;
  display: block;
  padding: 4px;
}
li > br {
  display: none;
}
.block-content .item-list ul li,
.block-content ul.menu li {
  border-bottom:1px dotted #AAAAAA;
  color: #0062BB;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0px;
  padding: 4px;
  display: block;
}
.block-content .item-list ul a:hover,
.block-content .item-list .field-content a:hover,
.block-content ul.menu a:hover {
  color: #00338B;
  background-color: #eeeeee;
}
ul.menu li.collapsed {
  border-bottom: 1px dotted #00338B;
}
ul.menu li.collapsed a:hover{
  color: #00338B;
  background-color: #eeeeee;
}

/*
* Block Sidebars
*/
.sidebar h2.block-title {
  text-align: center;
}
#left-sidebar .block-content li a {
  text-align: right;
  padding-right: 2em;
}
#left-sidebar .block-content li ul {
  text-align: right;
  padding-right: 2em;
}
#right-sidebar .block-content li a {
  text-align: left;
  padding-left: 2em;
}
/*
*
*/
#content-top {
  border: thin black dotted;
  background: #d6d6cd;
  padding: 10px;
  margin: 0 0 1.5em;
}
#content-top p {
  margin: 0px;
}

body.thingee
{
	background: #E6E6DC;
	color: #000;
	font-size: 12px;
	padding: 0px 0;
}
#header-main {
  margin: 0 10px 10px;
}
#wrapper-header {
  background: #00628B url(../images/headerback.png) repeat-x top left;
}
#wrapper-primarylinks {
  background: url(../images/navbarback.png) repeat-x bottom left;
}
.no-sidebars #middle {
  background: none;
  min-height: 520px;
}
.two-sidebars #middle {
  background: url(../images/mainback.png) no-repeat top center;
  min-height: 520px;
}
.sidebar-left #middle {
  background: url(../images/mainback-left.png) no-repeat;
  background-position: 225px 0px;
  min-height: 520px;
}
.sidebar-right #middle {
  background: url(../images/mainback-right.png) no-repeat;
  background-position: 685px 0px;
  min-height: 520px;
}
#wrapper-middle {
  background: url(../images/wrapmidtop.png) repeat-x top left;
  min-height: 520px;
}
.breadcrumb {
  height: 30px;
  padding-top: 5px;
}
h1.title {
  font-size: 2.7em;
  margin: 0;
  padding: 0;
}
.comment h2 a {
  text-decoration: none;
}
div.terms,
div.todo {
  margin: 1em 0;
}
div.todo {
  text-align: right;
}
.node ul.links li,
.comment ul.links li {
  margin: 0;
  padding: 0 .2em;
}
.node .terms {
  background: transparent url(../images/book.png) no-repeat;
  padding-left: 18px;
}
.node .submitted {
  background: transparent url(../images/user.png) no-repeat;
  padding-left: 19px;
}
.button-links a {
  border: 2px dotted #cccccc;
  padding: .2em 1em;
  background: #eeeeee;
  text-decoration: none;
  color: #886900; /*#88001E; red*/
}
.button-links a:hover {
  border: 2px dotted #dddddd;
  background: #ffffff;
}
.node {
  margin: 0 0 30px 0;
}
h2.node-title {
  font-style: italic;
  font-size: 2em;
  line-height: .8em;
}
h2.node-title a {
  text-decoration: none;
  color: #886900;
}
.block {
  margin-bottom: 20px;
}
.sidebar h2.block-title {
  background: transparent url(../images/blocktitle.png) bottom left;
  color: #444444;
}
.more-link a {
  padding: 0px 10px;
  font-size: .9em;
  font-style: italic;
  text-decoration: none;
}
.poll {
  padding: 0px 10px;
}


.comment {
  background: #B1B191;
  padding: 0px 10px;
  margin-bottom: 0px;
}
div.submitted {
  margin: 0 0 10px 0;
}
.submitted {
  font-style: italic;
  font-size: .8em;
}
/*
* Footer
*/
.wrapper-comment .commenttop {
  background: transparent url(../images/commenttop.png) repeat-x top center;
  height: 20px;
}
.wrapper-comment .commentbottom {
  background: transparent url(../images/commentbottom.png) repeat-x bottom left;
  height: 20px;
}
#wrapper-above-footer {
  background: transparent url(../images/footerbak.png) repeat;
}
#wrapper-footer {
  background: transparent url(../images/footertop.png) repeat-x;
}
#footer {
  padding-top: 20px;
}
#footer p {
  color: #E6E6DC;
}
#footer a {
  color: white;
}
#footer a:hover {
  color: black;
  text-decoration: none;
}
#copyright-footer a {
  text-decoration: none;
}

/* Rollover edit links for blocks
----------------------------*/

div.block {
  position: relative;
}
div.block div.edit {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 11px;
  background-color: #fff;
}
div.block:hover div.edit {
  display: block;
}
